@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap')

$VeryDarkBlue: hsl(243, 87%, 12%)
$DesaturatedBlue: hsl(238, 22%, 44%)

$BrightBlue: hsl(224, 93%, 58%)
$ModerateCyan: hsl(170, 45%, 43%)

$LightGrayishBlue: hsl(240, 75%, 98%)
$LightGray: hsl(0, 0%, 75%)

//font-family: 'Open Sans', sans-serif
//font-family: 'Raleway', sans-serif

*
    margin: 0
    padding: 0
    box-sizing: border-box
    transition: all 500ms

body
    background: $LightGrayishBlue
    font-family: 'Raleway', sans-serif
    font-weight: 700
    color: $VeryDarkBlue

nav
    display: flex
    justify-content: space-between
    align-items: center
    height: 65px
    background: white
    padding: 10px 20px
    .logo
        img
            width: 80px
            margin-top: 5px
    a
        text-decoration: none
        color: $DesaturatedBlue
        font-size: 0.8em
        background: white
        padding: 10px
        &:hover
            background: #f8f8f8

.hero
    background: white
    text-align: center
    padding: 0 20px 120px 20px
    img
        width: 90%
        margin-top: 2em
    h2
        line-height: 1.5em
        margin-top: 25px
        font-family: 'Open Sans', sans-serif
    p
        font-size: .8em
        color: #585989
        width: 275px
        margin: 0 auto
        margin-top: 20px
        line-height: 1.5em
        font-family: 'Open Sans', sans-serif
    form
        display: flex
        flex-direction: column
        width: 300px
        margin: 0 auto
        margin-top: 25px
        input
            padding: 10px
            border-radius: 2px
            border: 1px solid $LightGray
            &::placeholder
                font-family: 'Open Sans', sans-serif
        button
            margin-top: 10px
            background: $BrightBlue
            color: white
            border: none
            padding: 10px
            border-radius: 2px

.bgdesk
    display: none
.second
    text-align: center
    .bgmob
        display: block
        margin-top: -40px
        width: 100%
        padding: 0 -20px
    img
        width: 90%
        margin-top: 0
    div
        h3
            font-size: .9em
            margin-top: 3em
            padding: 0 20px
        p
            font-size: .8em
            padding: 0 20px
            color: #585989
            margin: 0 auto
            margin-top: 20px
            line-height: 1.5em
            font-family: 'Open Sans', sans-serif
            text-align: start
        .works
            display: flex
            justify-content: center
            margin-top: 30px
            align-items: center
            a
                text-decoration: none
                color: $ModerateCyan
                font-size: 0.8em
            img
                width: 15px
                margin-left: 5px
                margin-top: 0
        hr
            display: block
            border: 1px $ModerateCyan solid
            width: 150px
            margin: 5px auto
    .test
        background: white
        margin: 40px auto 0 auto
        box-shadow: 0 0 10px $LightGray
        border-radius: 5px
        width: 275px
        text-align: start
        padding: 15px 25px
        img
            width: 15px
            margin-top: 5px
        p
            margin-top: 5px
            font-size: 0.7em
            line-height: 1.8em
        div
            display: flex
            margin-top: 10px
            align-items: center
            img
                height: 30px
                width: 30px
                border-radius: 50%
            p
                margin-left: 10px
                color: $VeryDarkBlue
                font-weight: 700
                font-family: 'Raleway', sans-serif
                font-weight: 700
                span
                    font-weight: 400
                    font-size: 0.8em

.third
    background: $DesaturatedBlue
    color: white
    text-align: center
    margin: 80px -20px 0 -20px
    padding: 50px 25px
    p
        margin-top: 20px
        font-weight: 400
        line-height: 1.5em
        padding: 0 20px
    form
        display: flex
        flex-direction: column
        width: 250px
        margin: 0 auto
        margin-top: 25px
        input
            padding: 10px
            border-radius: 2px
            border: 1px solid $LightGray
            &::placeholder
                font-family: 'Open Sans', sans-serif
        button
            margin-top: 10px
            background: $BrightBlue
            color: white
            border: none
            padding: 10px
            border-radius: 2px
.footer
    background: $VeryDarkBlue
    color: white
    padding: 50px 30px
    .cont
      display: flex
      flex-direction: column
    svg
        margin-bottom: 1em
    div
        margin-top: 1em
        display: flex
        img
            height: 15px
        p
            margin-left: 15px
    ul
        margin-top: 40px
        text-decoration: none
        list-style: none
        line-height: 1.5em
        color: white
        font-family: 'Open Sans', sans-serif
        li
            margin-top: .75em
        .sect2
            margin-top: 2em
        a
            text-decoration: none
            color: white
    .icons
        justify-content: center
        margin-top: 3em
        svg
            border: 1px white solid
            border-radius: 50%
            padding: 5px
            margin: 5px

@media ( min-width: 375px )
    nav
        padding: 50px
    .hero
        display: flex
        align-items: center
        flex-direction: row-reverse
        padding: 50px
        text-align: start
        justify-content: center
        padding-bottom: 400px
        h2
            width: 450px
            line-height: 2em
        img
            width: 450px
        p
            width: 450px
        form
            margin-left: 0
            flex-direction: row
            width: 400px
            input
                width: 250px
                height: 35px
                padding: 5px
            button
                margin: 0 0 0 15px
                width: 150px
    .second
      display: flex
      align-items: center
      flex-direction: row-reverse
      padding: 50px
      text-align: start
      justify-content: center
      padding-bottom: 400px
      img
        width: 450px
      div
        h3
          font-size: 1.8em
        p
          width: 450px
          margin-left: 0
          &:first-of-type
            margin-top: 30px
        .works
          justify-content: flex-start
          margin-left: 20px
        hr
          margin-left: 20px
          width: 140px
        .test
          margin-left: 20px
          width: 300px
          p
            width: 270px
            margin: 0
            padding: 0
          div
            p
              margin-left: 10px
              line-height: 1.2em
    .third
      display: flex
      text-align: left
      justify-content: space-around
      align-items: center
      div
        width: 400px
      form
        width: 375px
        margin: 0
        input
          width: 375px
        button
          width: 150px
    .footer
      display: flex
      justify-content: space-around
      padding-top: 150px
      padding-bottom: 100px
      ul
        margin-top: 0
      .icons
        margin-top: 20px


.bgdesk
  display: block !important
  margin-top: -100px
  width: 100%
.bgmob
  display: none !important
